<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ExpoDB zur Sammlung Online der Städtischen Museen Freiburg</display-name>
  <context-param>
  	<param-name>indexfelder</param-name>
  	<param-value>text,nummer,titel,objektbezeichnung,datierung,person,ort,schlagwort,material,technik,taxon,mineralischesystematik,ethnie,traegermaterial,standort,leihgeber</param-value>
  </context-param>
  <context-param>
  	<param-name>filterfelder</param-name>
  	<param-value>museum,sammlung,objektbezeichnung,person,material,technik,zeit,ort,weiterverwenden,taxon,mineralischesystematik,ethnie,traegermaterial,schlagwort,standort,leihgeber</param-value>
  </context-param>
  <context-param>
  	<param-name>sortierfelder</param-name>
  	<param-value>entstehungszeit,person,likes</param-value>
  </context-param>
  <context-param>
  	<param-name>defaultSortierung</param-name>
  	<param-value>entstehungszeit</param-value>
  </context-param>
  <context-param>
  	<param-name>defaultAnzahl</param-name>
  	<param-value>12</param-value>
  </context-param>  
</web-app>
